<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginAction</servlet-name>
        <servlet-class>LoginAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyConnection</servlet-name>
        <servlet-class>conn.MyConnection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationAction</servlet-name>
        <servlet-class>RegistrationAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Step1Action</servlet-name>
        <servlet-class>Step1Action</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackAction</servlet-name>
        <servlet-class>FeedbackAction1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginAction</servlet-name>
        <url-pattern>/LoginAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyConnection</servlet-name>
        <url-pattern>/MyConnection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationAction</servlet-name>
        <url-pattern>/RegistrationAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Step1Action</servlet-name>
        <url-pattern>/Step1Action</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackAction</servlet-name>
        <url-pattern>/FeedbackAction</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
